project:
  type: website
  output-dir: _site

website:
  title: "BIOL 275: Biostatistics"
  navbar:
    left:
      - href: index.qmd
        text: Home

format:
  html:
    toc: true
    theme: default
    css: tlm-styles/styles.scss